<div class="container mx-auto py-8">
  <h1 class="text-3xl font-bold mb-6"><%= t('services.index.title') %></h1>

  <div class="flex justify-end mb-4">
    <%= link_to 'New Service', new_service_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
  </div>

  <table class="min-w-full bg-white shadow-md rounded-lg">
    <thead>
    <tr>
      <th class="py-3 px-6 text-left">Gear</th>
      <th class="py-3 px-6 text-left">Service Type</th>
      <th class="py-3 px-6 text-left">Status</th>
      <th class="py-3 px-6 text-left">Payment</th>
      <th class="py-3 px-6 text-left">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @services.each do |service| %>
      <tr class="border-b">
        <td class="py-3 px-6"><%= service.gear.name %></td>
        <td class="py-3 px-6"><%= service.service_type&.capitalize %></td>
        <td class="py-3 px-6"><%= service.status.humanize %></td>
        <td class="py-3 px-6"><%= service.payment_status.humanize %></td>
        <td class="py-3 px-6">
          <%= link_to 'View', service_path(service), class: 'text-blue-500 hover:underline' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
