<div class="container mx-auto py-8">
  <h1 class="text-3xl font-bold mb-6"><%= t('payments.index.title') %></h1>

  <table class="min-w-full bg-white shadow-md rounded-lg">
    <thead>
    <tr>
      <th class="py-3 px-6 text-left"><%= t('payments.index.table.service') %></th>
      <th class="py-3 px-6 text-left"><%= t('payments.index.table.created_at') %></th>
      <th class="py-3 px-6 text-left"><%= t('payments.index.table.amount') %></th>
      <th class="py-3 px-6 text-left"><%= t('payments.index.table.status') %></th>
    </tr>
    </thead>
    <tbody>
    <% @payments.each do |payment| %>
      <tr class="border-b">
        <td class="py-3 px-6"><%= payment.service.gear.name %></td>
        <td class="py-3 px-6"><%= l(payment.created_at, format: :long) %></td>
        <td class="py-3 px-6"><%= number_to_currency(payment.amount) %></td>
        <td class="py-3 px-6"><%= translate_enum(payment, :status) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>