<p><%= t('devise.mailer.reset_password_instructions.hello', email: @resource.email) %></p>

<p><%= t('devise.mailer.reset_password_instructions.requested_link') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.ignore_email') %></p>
<p><%= t('devise.mailer.reset_password_instructions.password_not_changed') %></p>
