<nav class="flex flex-col space-y-1 bg-gray-800 p-4 text-white">
  <%= link_to t('admin.sidebar.dashboard'), admin_root_path, class: 'block py-2.5 px-4 hover:bg-gray-700' %>
  <%= link_to t('admin.sidebar.gears'), admin_gears_path, class: 'block py-2.5 px-4 hover:bg-gray-700' %>
  <%= link_to t('admin.sidebar.brands'), admin_brands_path, class: 'block py-2.5 px-4 hover:bg-gray-700' %>
  <%= link_to t('admin.sidebar.services'), admin_services_path, class: 'block py-2.5 px-4 hover:bg-gray-700' %>
  <%= link_to t('admin.sidebar.payments'), admin_payments_path, class: 'block py-2.5 px-4 hover:bg-gray-700' %>
  <%= link_to t('admin.sidebar.users'), admin_users_path, class: 'block py-2.5 px-4 hover:bg-gray-700' %>
  <%= link_to t('navbar.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: "block py-2.5 px-4 hover:bg-gray-700" %>

  <!-- Language Switcher -->
  <div data-controller="toggle" data-toggle-hidden-class="hidden" class="relative mt-4">
    <button data-action="click->toggle#toggle" class="flex items-center justify-between py-2.5 px-4 w-full bg-gray-700 hover:bg-gray-600 rounded">
      <span>
        <%= case I18n.locale
            when :en then "English"
            when :fr then "Français"
            when :es then "Español"
            when :ca then "Català"
            else "Select Language"
            end %>
      </span>
      <svg class="ml-2 h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M5.293 9.293a1 1 0 011.414 0L10 12.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a 1 1 0 01-1.414 0l-4-4a 1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>

    <div data-toggle-target="content" class="absolute left-0 mt-2 w-48 bg-white text-gray-800 rounded shadow-lg hidden">
      <%= link_to "English", url_for(locale: :en), class: "block px-4 py-2 hover:bg-gray-200" %>
      <%= link_to "Français", url_for(locale: :fr), class: "block px-4 py-2 hover:bg-gray-200" %>
      <%= link_to "Español", url_for(locale: :es), class: "block px-4 py-2 hover:bg-gray-200" %>
      <%= link_to "Català", url_for(locale: :ca), class: "block px-4 py-2 hover:bg-gray-200" %>
    </div>
  </div>
</nav>
